@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-dark);
  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme Colors */
  --color-primary: #105050;   /* Deep Teal */
  --color-secondary: #206070; /* Cool Blue-Teal */
  --color-accent: #207070;    /* Accent Teal */
  --color-light: #F0F0F0;     /* Off-White Background */
  --color-dark: #010100;      /* Deep Black */
  --color-darkGray: #101010;  /* Dark Gray for text */
  --color-midGray: #D0D0D0;   /* Mid Gray for borders */
  --color-lightGray: #E0E0E0; /* Light Gray for sections */
}

a {
  font-weight: 500;
 
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#C8FFFF;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
  background-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
